<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chattingguys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chattingguys"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ProfileActivty"
            android:exported="false" />
        <activity
            android:name=".Activitys.OtpActivity"
            android:exported="false"
            android:theme="@style/Theme.ChattingguysNoActionBar" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ChattingguysNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ChattingguysNoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>